# Bootstrap
Symfony/app/bootstrap*

# Symfony directories
Symfony/vendor/*
Symfony/*/logs/*
Symfony/*/cache/*
Symfony/web/uploads/*
Symfony/web/bundles/*
Symfony/web/css/compiled/*
Symfony/web/css/compiled/*
Symfony/web/js/compiled/*
Symfony/web/media/*
Symfony/bin/*

# Composer binary
Symfony/composer.phar

# Configuration files
Symfony/app/config/parameters.ini
Symfony/app/config/parameters.yml

# Ignore phpStorm workspace
.idea/*

# System files
.DS_Store

# HTML test report
Symfony/test_report.html

# Assets used for test scenarios
test_assets/*
/Symfony/features/behat_rerun