.text-label {
  color: #cdcdcd;
  font-weight: bold;
}

.ui-state-highlight, .ui-state-error {
  padding: 5px;
  font-size: 1.5em;
  text-align: center;
}

img.thumbnail {
  border: 1px solid #000;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.fsPetDetails + .fsContactInformation {
  margin-top: 3em;
}

.fsContactInformation + .fsLoginInformation {
  margin-top: 3em;
}

.fsPetDetails {
  clear: left;
  background-color: #CBEFFB;
  padding: 2em;
  border: 1px solid #778;
  @include border-top-radius(20px);
  @include border-bottom-radius(20px);
  @include border-left-radius(20px);
  @include border-right-radius(20px);
}

.fsContactInformation {
  clear: left;
  background-color: #EBF7CD;
  padding: 2em;
  border: 1px solid #778;
  @include border-top-radius(20px);
  @include border-bottom-radius(20px);
  @include border-left-radius(20px);
  @include border-right-radius(20px);

  #{$all-text-inputs}, select, textarea {
    border: 1px solid #E4FFA0;

    &:hover {
      border: 1px solid #CFE0A6;
    }

    &:focus {
      @include box-shadow(0 0 2px #CFE0A6);
    }
  }
}

.fsLoginInformation {
  clear: left;
  background-color: #FFE0F3;
  padding: 2em;
  border: 1px solid #778;
  @include border-top-radius(20px);
  @include border-bottom-radius(20px);
  @include border-left-radius(20px);
  @include border-right-radius(20px);

  #{$all-text-inputs}, select, textarea {
    border: 1px solid #FFF2F9;

    &:hover {
      border: 1px solid #FF7CCA;
    }

    &:focus {
      @include box-shadow(0 0 2px #FF7CCA);
    }
  }
}

.blue {
  clear: left;
  background-color: #CBEFFB;
  padding: 2em;
  border: 1px solid #778;
  @include border-top-radius(20px);
  @include border-bottom-radius(20px);
  @include border-left-radius(20px);
  @include border-right-radius(20px);
}

.yellow {
  clear: left;
  background-color: #EBF7CD;
  padding: 2em;
  border: 1px solid #778;
  @include border-top-radius(20px);
  @include border-bottom-radius(20px);
  @include border-left-radius(20px);
  @include border-right-radius(20px);
}

.pink {
  clear: left;
  background-color: #FFE0F3;
  padding: 2em;
  border: 1px solid #778;
  @include border-top-radius(20px);
  @include border-bottom-radius(20px);
  @include border-left-radius(20px);
  @include border-right-radius(20px);
}

.ui-widget .validateTips {
  margin-top: 20px;
}

.ui-widget .alert-text {
  font-size: 15px !important;
  margin: 10px 0 10px 0;
  padding: 10px !important;
  text-align: left;
}

.fixed-dialog {
  position: fixed !important;
  top: 50%;
  left: 50%;
}

.ui-buttonset {
  width: 300px;
}

.radioset {
  label {
    min-width: 50px;
    padding: 0;
  }

  .ui-button-text {
    padding: 0.2em 2em;
    min-width: 50px;
  }
}

.ui-button-text-only .ui-button-text {
  padding: .4em 1em;
}

.ui-icon-pawprint {
  background: url(/images/pawprint-bullet.gif) no-repeat 0 6px !important;
}

.pet-report {
  clear: left;
  max-width: 350px;
  float: left;

  @media screen and (max-width: $mobile-width) {
    float: none;
    margin-left: 10px;
  }
}

.pet-report + .pet-report {
  margin-top: 1em;
}

.pet-report .report-entry {
  font-size: 1.2em;
  clear: both;
  max-width: 350px;
}

.pet-report .report-entry .label {
  float: left;
  max-width: 350px !important;
  clear: left;
  background-color: #CBEFFB;
  padding: .25em 1em .25em 1em;
  border: 1px solid #778;
  @include border-top-radius(20px);
  @include border-bottom-radius(20px);
  @include border-left-radius(20px);
  @include border-right-radius(20px);
}

.pet-label .label {
  background-color: #CBEFFB !important;
}

.contact-label .label {
  background-color: #FFE0F3 !important;
}

.pet-report .report-entry .text {
  max-width: 300px !important;
  float: left;
  left: 0;
  padding: .4em 1em 0 1em;
  clear: left;
}

.pet-report .report-entry + .report-entry {
  margin-top: .25em;
}

.pet-report-image-maps {
  float: right;

  @media screen and (max-width: $mobile-width) {
    margin-top: 30px;
    float: left;
  }
}

.rowHover {
  background-color: #f00;
  color: #fff;
}

.field_with_errors {
  display: inline !important;

  label {
    padding: 5px;
    border: 1px solid red;
  }
}

.field_with_errors_error_list {
  padding: 10px 10px 20px 10px;
  color: red;
}

///////////////////////////////////////////////////////////////////
//
//  Clearfix
//
///////////////////////////////////////////////////////////////////

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

///////////////////////////////////////////////////////////////////
//
//  Notification bars
//
///////////////////////////////////////////////////////////////////

.info, .success, .warning, .error, .validation {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('/images/info.png');
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image: url('/images/success.png');
}

.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('/images/warning.png');
}

.error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('/images/error.png');
}

div.reports-grid {
  $fg-gutter: .25em;
  $mobile: max-width $mobile-width 6;
  @include outer-container;

  .reports-grid-row {
    @include row(block);

    a.reports-grid-tile {
      @include span-columns(1 of 3);
      @include nth-omega(3n);

      @include breakpoint($mobile) {
        @include span-columns(1 of 1);
        @include omega;
      }

      margin-bottom: 16px;
      padding: 10px 20px 20px 20px;
      color: black;

      border: 1px solid #778;
      @include border-top-radius(10px);
      @include border-bottom-radius(10px);
      @include border-left-radius(10px);
      @include border-right-radius(10px);
      @include linear-gradient(50deg, #94c4ff 0%, #cbeffb 25%, #fff 75%);

      dl {
        float: left;
        margin-left: 0;
        clear: left;

        dt {
          font-weight: bold;
        }

        dd {
          margin-left: 10px;
          font-style: italic;
          font-weight: normal;
        }

        &.clearfix {
          @include clearfix;
        }
      }

      dl + dl {
        margin-top: 20px;
      }

      h1, h2, h3, h4, h5, h6 {
        margin: 0 0 10px 0;
        padding: 0 0 10px 0;
        color: #666;
        border-bottom: 1px dashed #7f7f7f;
      }

      .thumbnail {
        float: right;
        margin-left: 10px;
      }

      &:hover {
        @include linear-gradient(50deg, lighten(#ff0000, 20%) 0%, lighten(#ff0000, 30%) 25%, #fff 75%);
        text-decoration: none;
        cursor: pointer;
      }

      &:active {
        @include linear-gradient(50deg, lighten(#ff0000, 10%) 0%, lighten(#ff0000, 20%) 25%, #fff 75%);
      }
    }
  }
}

.alert-div {
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  @include border-right-radius(5px);
  background-color: red;
  color: white;
  font-size: 1em;
  padding: 5px;
  border: 1px solid black;
}

.ui-datepicker tbody tr {
  border-bottom: none !important;
}