{% extends '::base.html.twig' %}

{% block body %}
    <h3 style="margin-bottom: .5em;">Post a pet you found</h3>

    {% include 'BConwayWebsiteBundle:FoundPet:_form.html.twig' with {'action': 'create'} %}
{% endblock %}