{% extends '::base.html.twig' %}

{% block body %}
<h3 style="margin-bottom: .5em;">Post your lost pet</h3>

{% include 'BConwayWebsiteBundle:LostPet:_form.html.twig' with {'action': 'create'} %}
{% endblock %}