{% extends '::base.html.twig' %}
{% block body %}
<div style="width: 450px; float: left" class="clearfix">
    <h5>Have you lost your best friend?</h5>
    <p>
        Just like you, we drive through our neighborhood and
        see "Lost Dog" signs.
    </p>
    <p>
        The goal of this website is to
        attempt to help you find your lost pet.
    </p>
    <p>
        We hope to help return both lost cats AND lost dogs
        to their homes.
    </p>
</div>
<div style="width: 200px; float: right" class="clearfix">
    <img src="{{ asset('/images/sad-dog-small.jpg') }}" style="width: 100%;"/>
</div>
<div style="width: 450px; float: right; clear: right; margin-top: 30px;" class="clearfix">
    <h5>Have you found somebody's pet?</h5>
    <p>
        If the owner doesn't know that you have their best
        friend, there is a problem.
    </p>
    <p>
        This website also provides a way for you to let
        everybody know that you are trying to return a pet
        to its' owner.
    </p>
</div>
<div style="width: 200px; float: left; clear: left; margin-top: 30px;" class="clearfix">
    <img src="{{ asset('/images/yorkie-small.jpg') }}" style="width: 100%;"/>
</div>
<div style="padding-top: 50px; clear: both; text-align: center;">
    <h6>
        If you have any recommendations that will help us
        improve this website, please click
        <%= link_to :here, contact_path %> and let us know.
    </h6>
</div>
{% endblock %}